NEXT_PUBLIC_AUTH_ENABLED=true
NEXT_PUBLIC_AZURE_AD_CLIENT_ID=3b500222-75cb-4030-a649-17471a86ff85
NEXT_PUBLIC_AZURE_AD_TENANT_ENDPOINT=https://login.microsoftonline.com/9975c493-b73a-4ebd-901e-9c741a9ae55f
NEXT_PUBLIC_AZURE_AD_REDIRECT_URI=http://localhost:3000/
NEXT_PUBLIC_AZURE_AD_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/
NEXT_PUBLIC_AZURE_AD_LOGIN_SCOPES=openid,profile,email
